@font-face {
  font-family: "ShadowHand";
  src: url("/fonts/ShadowHand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
  font-feature-settings: normal;
  font-variation-settings: normal;
}