@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text {
  font-family: "ShadowHand", sans-serif;
}

.hero-text {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
}

body {
  font-family: 'JetBrains Mono', monospace;
}

h1,
.bold {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 900;
}

html,
.navbar {
  transition: background-color 0.2s ease;
}

/* disables the transitions for mobile */
html.no-transition,
html.no-transition .hamburger-button,
html.no-transition .navbar {
  transition: none;
}

html.light-mode {
  background-color: #fdfaf5;
  color: #121212;
  color-scheme: light;
}
.light-mode .navbar {
  background-color: #fdfaf5;
}

html.dark-mode {
  background-color: #121212;
  color-scheme: dark;
  color: #dddddd;
}
.dark-mode .navbar {
  background-color: #121212;
}

.scroll-locked {
  overflow: hidden !important;
}

::selection {
  background-color: #f8f6f1;
  color: #df1515;
}

::-moz-selection {
  background-color: #f8f6f1;
  color: #df1515;
}

html.dark-mode ::selection {
  background-color: #282828;
  color: #dddddd;
}

html.dark-mode ::-moz-selection {
  background-color: #282828;
  color: #dddddd;
}