@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "regular";
  src: url("/fonts/StabilGrotesk-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "medium";
  src: url("/fonts/StabilGrotesk-Medium.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

