@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "regular";
  src: url("/fonts/StabilGrotesk-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "medium";
  src: url("/fonts/StabilGrotesk-Medium.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "logo";
  src: url("/fonts/ShadowHand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.logo {
  font-family: "logo", sans-serif;
}

body {
  font-family: "regular", sans-serif;
  /* min-height: 100vh; */
}

h1,
.bold {
  font-family: "medium", sans-serif;
}

html,
body,
.wrapper,
.navbar {
  transition: background-color 0.2s ease;
}

html.light-mode,
.light-mode .navbar {
  background-color: #fdfaf5;
  background: #fdfaf5;
  color: #131212;
  color-scheme: light;

}

html.dark-mode,
.dark-mode .navbar {
  background-color: #121212;
  background: #121212;
  color-scheme: dark;
  color: #dddddd;
}

.scroll-locked {
  overflow: hidden !important;
}